<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544480271029-0nr09nj59mqiul8rc8kivre1ulooacrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544480271029-0nr09nj59mqiul8rc8kivre1ulooacrm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544480271029-qinbpole6msj852qj59gu31v8fpspv8k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEIVOkeDwSM1tgB3qtPB_w4YSXok6i8uY</string>
	<key>GCM_SENDER_ID</key>
	<string>544480271029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emasyao.stl</string>
	<key>PROJECT_ID</key>
	<string>e-masyao-stl</string>
	<key>STORAGE_BUCKET</key>
	<string>e-masyao-stl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544480271029:ios:c974f0c6a6eaabaf0abcfc</string>
</dict>
</plist>